@model SearchResultViewModel<CategoryModel, CatalogFilterModel>
@{
	ViewBag.CreationLink = Url.Action("Update", "Catalogs", new { Area = "Admin" });

	ViewData["Title"] = "Каталоги";
}

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>

					<th class="text-center">Название</th>
					<th class="text-center">Короткая ссылка</th>
					<th class="text-center">Родительская категория</th>
					<th class="text-center">Порядок отображения</th>
					<th class="text-center">Действия</th>
				</tr>
				@foreach (var item in Model.Objects)
				{
					<tr class="text-center">
						<td>
							@item.Name
						</td>
						<td>
							@item.Alias
						</td>
						<td>
							@item.ParentCategory?.Name
						</td>
						<td>
							@@item.SortKey
						</td>
						<td class="text-center">
							<a asp-action="Update" asp-area="Admin" asp-route-id="@item.Id">Изменить</a><br />
							<a asp-action="Delete" asp-area="Admin" asp-route-id="@item.Id" class="delete-object-button">Удалить</a>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>


@section Scripts
{

}
